

@font-face
{
    font-family:'Cabin';
    src:url('../fonts/Cabin-SemiBold.otf');
}


.detalle td
{
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
}
.detalle th
{
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.entrar
{
    border-radius: 15px;
    padding: 10px;
    padding-left: 12px;
    border-style: solid;
    border-color: #FDDFB3;
    border-width: 1px;
}

.entrar:hover
{
    background-color: #0081c2;
    padding: 10px;
    padding-left: 12px;
    border-radius: 15px;
    border-style: none;
}

.imghome
{
    position: absolute;
    padding: 0 auto;
}

.logohome
{
    position: relative;
    padding: 0 auto;
}
.titulo
{
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.lineaimg
{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
}

.orbileheader
{
    margin: 0 auto;
    padding: 5px
}

/* Sección para mostrar el popup de los campos grandes */
.emergente .mostrar {
    display: none;
}

.emergente .ocultar{

}

.emergente:hover .ocultar {
    display: none;
}

.emergente:hover {
    position: relative;
}

/*clase usada para columna PID y koboID*/
.emergente:hover .mostrarPID{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -15px;
    top: -5px;
    width: 300px;
}
/*clase usada para ID cliente orbile en sales-reports*/
.emergente:hover .mostrarIDorb {
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -15px;
    top: -5px;
    width: 200px;
}

/*clase usada para columna Fecha*/
.emergente:hover .mostrarDate{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -15px;
    top: -5px;
    width: 148px;
}
/*clase usada para columna Titulo*/
.emergente:hover .mostrarTitulo{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -100%;
    top: -5px;
    height: auto;
    width: auto;
}

/*clase usada para ApiPass(customers/details), Logotipo Grande y Logotipo Pequeño (affiliates),
Ruta del Archivo y Ruta del servidor (catalog-feed-file), Contraseña (users)
*/
.emergente:hover .mostrarAPI{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -15px;
    top: -5px;
    width: auto;
}

/*clase usada para columna URL*/
.emergente:hover .mostrarURL{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -250px;
    top: -10px;
    width: 450px;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
}

.emergente:hover .mostrarURLDetail {
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -450px;
    top: -20px;
    width: 300px;
    width: 650px;
    height: auto;
    word-break: break-all;
    word-wrap: break-word;
}

/* Clases extra para el listado de pre-órdenes */
/*clase usada para columna email*/
.emergente:hover .mostrarNormal{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: 0%;
    top: -5px;
    height: auto;
    width: auto;
}
/*clase usada para columna kobo_id*/
.emergente:hover .mostrarKobo{
    display: block;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid;
    z-index: 100;
    left: -475%;
    top: -5px;
    height: auto;
    width: 290px;
}

/*Estilo de los títulos de cada tab*/
h1.retroshadow{
    font-family: 'Cabin';
    color: #2b91c4;
    font-size: 50px;

    letter-spacing: .05em;
    text-shadow:
    2px 2px 0px #d5d5d5,
    4px 4px 0px rgba(0, 0, 0, 0.005);
}

.fontDown{
    font-size: 70%;
    font-weight: bold;
}

.arrow-down {
    margin-top: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #09ff00;
}

.arrow-up {
    margin-top: 10px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid red;
}

.igual{
    margin-top: 20px;
    margin-left: 20px;
    width: 20px;
    height: 1px;
    background: black;

}

.fitCelda{
    swhite-space:nowrap;
}

.centrarFooter{
    margin: 0px auto;
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;

}

/*Clase para descripción de libros GETBOOKREV*/

.detalle{
    color:#0081c2;
}

.detalleTitulo{
    font-weight:500;
    color:#006fa6;
    text-align: left;
}

@media (max-width:768px){

    .barraTop{
        border-bottom:1px solid #B8DCEF;
        border-right:0px solid #9e9e9e;
    }

    .barraSesion{
        border-top:1px solid #B8DCEF;
        border-right:0px solid #9e9e9e;
    }
/*
    .navbar-default .navbar-nav > li:last-child {
        border-top:1px solid #B8DCEF;
        border-right:0px solid #9e9e9e;
    }*/


}

@media (min-width:768px){

    .barraTop{
        border-right: 2px solid #B8DCEF;
    }

    .barraSesion{
        border-left:2px solid #B8DCEF;
    }



  /*  .navbar-default .navbar-nav > li:last-child {
        border-left:2px solid #B8DCEF;

    }*/


}


