{{ content() }}

<h1 class="retroshadow">Agregar datos a los registros de purchases_line</h1>
<h3>(idioma, genero, genero_bic, genero_bisac, cogs, titulo, isbn, isAdultMaterial, isKids)</h3>
{#{ link_to('activar-preordenes/activar', 'Activar libros', 'class':'btn btn-primary') }#}
{{ link_to('purchases/agregardatos', 'Ejecutar Script', 'class':'btn btn-primary') }}
