{#<?php
$session = $this->session->get('auth');
$partner_id = $session['partner_id'];
$se = $session['role_id'];
$this->view->setVar('se', $se);
?>
{% if se == 1 %}
 {{ elements.getTabsAPI() }}

{% endif %}
#}

{{ elements.getTabsAPI() }}
<div align="center">
    {{ content() }}
</div>
